<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Мой склад</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Поиск" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Выход</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span data-feather="home"></span>
                            Мой склад <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="shopping-cart"></span>
                            Добавить товар
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file"></span>
                            Добавить метку
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file"></span>
                            Добавить место
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file"></span>
                            Загруженность склада
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <div class="btn-toolbar mb-2 mb-md-0">
                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                        <span data-feather="calendar"></span>
                        За неделю
                    </button>
                </div>
            </div>

            <h2>Хранится на складе</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Наименование товара</th>
                            <th>Метка</th>
                            <th>Сектор</th>
                            <th>Стеллаж</th>
                            <th>Полка</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Авторучки</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Бумага</td>
                            <td>2</td>
                            <td>1</td>
                            <td>1</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Сок "Добрый" 2 литра</td>
                            <td>3</td>
                            <td>1</td>
                            <td>1</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Сок "Добрый" 1 литра</td>
                            <td>4</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Вода минеральная "Ессентуки"</td>
                            <td>5</td>
                            <td>1</td>
                            <td>2</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Тесторый товар 1</td>
                            <td>6</td>
                            <td>2</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Тесторый товар 2</td>
                            <td>7</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Тесторый товар 3</td>
                            <td>8</td>
                            <td>2</td>
                            <td>2</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Тесторый товар 4</td>
                            <td>9</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Тесторый товар 5</td>
                            <td>10</td>
                            <td>3</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>Тесторый товар 6</td>
                            <td>11</td>
                            <td>3</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>Скобы</td>
                            <td>12</td>
                            <td>3</td>
                            <td>1</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>Тушенка</td>
                            <td>13</td>
                            <td>3</td>
                            <td>2</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td>Апельсины</td>
                            <td>14</td>
                            <td>3</td>
                            <td>2</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>Лапша</td>
                            <td>15</td>
                            <td>4</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                    </tbody>
                </table>

                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Предыдущая</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Следующая</a></li>
                    </ul>
                </nav>

            </div>
        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>

<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
            datasets: [{
                data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
                lineTension: 0,
                backgroundColor: 'transparent',
                borderColor: '#007bff',
                borderWidth: 4,
                pointBackgroundColor: '#007bff'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            },
            legend: {
                display: false,
            }
        }
    });
</script>
</body>